body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
}

.sidenav {
    position: absolute;
    z-index: 99;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
    left: 10px;
    height: 50px;
    padding-top: 0;
    bottom: 48px;
    width: 48px;
    padding-right: 0;
    overflow: hidden;
}

.sidenav.active {
    left: 0;
    height: 100%;
    padding-top: 60px;
    padding-right: 50px;
    bottom: 0;
    width: 250px;    
    overflow: scroll;
}

.sidenav.disabled {
    left: 10px;
    height: 50px;
    padding-top: 0;
    bottom: 48px;
    width: 48px;
    padding-right: 0;
    overflow: hidden;
}

.sidenav .nav-div {
    margin-top: 50px;    
    padding: 8px 8px 8px 32px;
    font-size: 18px;
    width: 100%;
    position: relative;
}

.sidenav .nav-div.cuisines-list {
    margin-top: 10px;
}

.sidenav .nav-div select {
    font-size: 1em;
    border: none;
    width: 130px;
    font-weight: 200;
    padding-left: 5px;
}

.sidenav a {
    text-decoration: none;
    color: grey;
    display: block;
    transition: 0.3s;
    width: 210px;
    border-bottom: solid 1px grey;
    padding: 4px 0;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .close-btn {
    position: absolute;
    height: 25px;
    width: 25px;
    text-align: center;
    right: 10px;
    margin-top: 10px;
    font-size: 25px;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav .hamburger-icon {
    position: absolute;
    height: 25px;
    width: 25px;
    text-align: center;
    right: 10px;
    margin-top: 10px;
    font-size: 25px;
}

.sidenav .close-btn {
    display: none;
}

.sidenav.active .hamburger-icon {
    display: none;
}

.sidenav.disabled .hamburger-icon {
    display: block;
}

.sidenav.active .close-btn {
    display: block;
}

.sidenav.disabled .close-btn {
    display: none;
}

.google-map {
    overflow: hidden;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.info-window {
    width: 240px;
    height: 180px;
    background-size: contain; 
}

.info-window .wrapper {
    background:  rgba(0,0,0,0.5);
    color: white;
    padding: 16px;
    bottom:0;
    position: absolute;
    width: 208px;
}

.info-window .cost {
    font-weight: bold;
}

.info-window .cuisines {
    font-style: italic;
}

.search-icon svg {
  max-width: 30px;
  max-height: 25px;
  bottom: 10px;
  position: absolute;
  left: 172px;
}
